
*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header section start  */
.header{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 0 200px;
    gap: 80px;
    margin-bottom: 130px;
}

.header-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    padding-top: 150px;
}

.header-detail{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding: 30px 0;
}

.btn-color{
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    padding: 20px 43px;
    border-radius: 8px;
    border: 0;
    margin-bottom: 140px;
}

.header-right img{
    width: 350px;
    height: 100%;
}

/* Flower feature section start  */
.flower-feature{
    text-align: center;
}

.flower-feature-title{
    color: #272727;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
}

.flower-feature-detail{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.flower-container{
    display: flex;
    padding: 40px 200px 120px;
    gap: 20px;
}

.flower-item-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 300px;
    height: 350px;
}
.flower-img{
    max-width: 70%;
    padding: 60px 41px 0;
}

.flower-img-3{
    max-width: 70%;
    padding: 35px 41px 0;
}
    
.flower-item-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 300px;
    height: 350px;
}
.flower-item-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 300px;
    height: 350px;
}

.flower-name{
    text-align: center;
    color: #272727;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 20px;
}


/* service section start  */
.service-item{
    margin-bottom: 120px;
}
.services{
    display: flex;
    margin: 0 200px;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 950px;
    height: 300px;
}

.service-icon{
    text-align: center;
}

.service-icon p{
    color: rgba(39, 39, 39, 0.80);
    font-size: 16px;
    padding-top: 20px;
    font-weight: 600;
}

/* offer or deal section start  */
.hot-deal{   
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-content{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.hot-deal-left{
    text-align: center;
    padding-left: 70px;
    padding-top: 100px;
}

.hot-deal-title{
    color: #272727;
    font-size: 32px;
    font-weight: 800;
    padding: 50px 0 20px 0;
}

span{
    color: #E55473;
}

.hot-deal-detail{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.hot-deal-right img{
    max-width: 70%;
}

/* gallery section start  */
.gallery{
    margin-top: 120px;
    margin-bottom: 120px;
}

.gallery-title{
    text-align: center;
    color: #272727;
    font-size: 25px;
}

.gallery-detail{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.gallery-container{
    display: flex;
    padding: 0 200px;
    gap: 20px;
    margin-top: 40px;
    align-items: center;
}

.gallery-item img{
    max-width: 100%;
}

/* form section start  */
.form-section{
    background-image: url("/Flower Asset/Rectangle 9.png");
    /* height: 449px; */
    background-size: cover;
    border-radius: 8px;
    margin: 0 200px;
}

.form-input-title{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 20px;
    color: #272727;
    font-size: 32px;
    font-weight: 800;
}

.form-input-detail{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
}

.content{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 120px
}

.input{
    width: 40%;
    padding: 10px 20px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}

.btn{
    border-radius: 8px;
    background: #E55473;
    padding: 10px 20px;
    border: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

/* Footer section start  */
footer{
    text-align: center;
    margin-top: 120px;
    background: #111010;
}
.footer-title{
    font-size: 32px;
    font-weight: 800;
    padding-top: 120px;
    padding-bottom: 20px;
    color: #FFF;
}

.footer-detail{
    color: rgba(255, 255, 255, 0.90);
    padding-bottom: 30px;
}

.footer{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 120px;
}